@page
@model IndexModel
@{
    ViewData["Title"] = "Bem-Vindo a Full Tech!";
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>A Full Tech <a href="https://docs.microsoft.com/aspnet/core"> é uma empresa no ramo do esporte Tênis, vendemos todos tipos de produtos nesse ramo e também temos aluguel de quadras</a>.</p>
</div>
<center>
    <a href="/" class="brand-link">
        <img src="~/img/4-quadras-rapidas.jpg"
             alt="Foto Quadra de Tênis"
             style="opacity: .8">

    </a>
</center>