<footer class="main-footer text-sm">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.5
    </div>
    A Full Tech sempre tem os melhores produtos e um ótimo custo benefício para seus clientes <span style="color: #e25555;">&hearts;</span> Nos sigam no Facebook <a href="http://codewithmukesh.com">codewithmukesh</a> e Instagram <a href="http://adminlte.io"></a>.
</footer>